/*
 * LuxMark web site CSS
 */

html {
	background: #333;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

a:link {
    color: #DD7F00;
    text-decoration: none;
}
a:visited {
    color: #DD7F00;
    text-decoration: none;
}
a:hover	{
    color: #D31141;
    text-decoration: underline;
}
a:active {
    color: #368AD2;
    text-decoration: none;
}

/******************************************************************************/

#header {
    color: #FFF;
    background: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0 0 0;
}

/******************************************************************************/

#navigation {
    color: #FFF;
    background: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0 0 0;
}

#navigation a {
    font-weight: bold;
}

#main-menu {
    line-height: 1em;
    padding: 0 0 6px 0;
    border-bottom: 2px solid rgb(238, 238, 238);
}

/******************************************************************************/

#content {
    color: #FFF;
    background-color: rgb(90, 90, 90);
    border-radius: 6px;
    margin: 12px 0 0 0;
}

/******************************************************************************/
/* Second side bar                                                            */
/******************************************************************************/

.region-sidebar-second {
    margin: 12px 0 0 0;
    padding: 0 0 0 0;
}

#block-user-login {
    color: #FFF;
    background-color: rgb(90, 90, 90);
    border-radius: 6px;
    padding: 6px;
    margin: 0 0 6px 6px;
}

/******************************************************************************/
/* Front page
/******************************************************************************/

.front #main #content {
    padding: 6px;
}

.front #main #content>div {
    border: 1px #FFF;
    border-style: solid;
    padding: 6px;
    margin: 3px 3px 3px 3px;
}
