/*
 * LuxMark web site CSS
 */

html {
	background: #333;
    font-size: 14px;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

a:link {
    color: #DD7F00;
    text-decoration: none;
}
a:visited {
    color: #DD7F00;
    text-decoration: none;
}
a:hover	{
    color: #D31141;
    text-decoration: underline;
}
a:active {
    color: #368AD2;
    text-decoration: none;
}

#page-title {
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
}

/******************************************************************************/
/* Table                                                                      */
/******************************************************************************/

table {
    border-style: none;
    border-spacing: 2px;
    border-collapse: separate;
}

table th {
    padding: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(204, 204, 204);
    margin: 1px;
    text-align: center;
    font-size: 1.1em;
}

table td {
    padding: 2px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    margin: 1px;
    text-align: center;
}

table .odd {
    background-color: rgb(80, 80, 80);
}

table .even {
    background-color: rgb(110, 110, 110);
}

table tbody tr:hover {
	background-color: rgb(160, 80, 0);
}

/******************************************************************************/

#header {
    color: #FFF;
    background: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0 0 0;
}

/******************************************************************************/

#navigation {
    color: #FFF;
    background: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0 0 0;
}

#navigation a {
    font-weight: bold;
}

#main-menu {
    line-height: 1em;
    padding: 0 0 6px 0;
    border-bottom: 2px solid rgb(238, 238, 238);
}

/******************************************************************************/

#content {
    color: #FFF;
    background-color: rgb(90, 90, 90);
    border-radius: 6px;
    margin: 12px 0 0 0;
}

/******************************************************************************/
/* Second side bar                                                            */
/******************************************************************************/

.region-sidebar-second {
    margin: 12px 0 0 0;
    padding: 0 0 0 0;
}

#block-user-login {
    color: #FFF;
    background-color: rgb(90, 90, 90);
    border-radius: 6px;
    padding: 6px;
    margin: 0 0 6px 6px;
}

/******************************************************************************/
/* Comments                                                                   */
/******************************************************************************/

#comments article {
    background-color: rgb(110, 110, 110);
    border-radius: 6px;
    padding: 6px;
    margin: 3px;
}

/******************************************************************************/
/* Front page
/******************************************************************************/

.front #main #content #block-block-1 {
    overflow: auto;
}

.front #main #content #block-block-1 h2 {
    font-style: italic;
}

.front #main #content #block-block-1 .luxmark_introduction_img {
    float: right;
    padding: 6px;
}

.front #main #content #block-block-1 .luxmark_introduction_img img {
    width: 320px;
    height: auto;
}
.front #main #content #block-block-1 .luxmark_introduction_txt p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 6px;
}

.front #main #content {
    padding: 6px;
}

.front #main #content .node-luxmark-result {
    background-color: rgb(110, 110, 110);
    border: 1px #FFF;
    border-style: solid;
    padding: 6px;
    margin: 3px 3px 3px 3px;
}

.front #main #content .node-luxmark-result .field-name-field-result-scene-name .field-label,
.front #main #content .node-luxmark-result .field-name-field-result-mode .field-label,
.front #main #content .node-luxmark-result .field-name-field-result-score .field-label
{
    text-align: right;
    width: 15em;
}

.front #main #content .node-luxmark-result .field-name-submitted-by {
    text-align: right;
}

/******************************************************************************/
/* Result page
/******************************************************************************/

.node-type-luxmark-result #content #page-title {
    display: none;
}

.node-type-luxmark-result #content .field-name-result-id-link .field-label,
.node-type-luxmark-result #content .field-name-author .field-label,
.node-type-luxmark-result #content .field-name-post-date .field-label,
.node-type-luxmark-result #content .field-name-field-result-os .field-label,
.node-type-luxmark-result #content .field-name-field-result-mode .field-label,
.node-type-luxmark-result #content .field-name-field-result-version .field-label,
.node-type-luxmark-result #content .field-name-field-result-scene-name .field-label,
.node-type-luxmark-result #content .field-name-field-result-score .field-label,
.node-type-luxmark-result #content .field-name-field-result-note .field-label,
.node-type-luxmark-result #content .field-name-field-result-dev-count .field-label
{
    text-align: right;
    width: 15em;
    font-size: 1.1em;
}

.node-type-luxmark-result #content .field-name-result-id-link .field-items,
.node-type-luxmark-result #content .field-name-author .field-items,
.node-type-luxmark-result #content .field-name-post-date .field-items,
.node-type-luxmark-result #content .field-name-field-result-os .field-items,
.node-type-luxmark-result #content .field-name-field-result-mode .field-items,
.node-type-luxmark-result #content .field-name-field-result-version .field-items,
.node-type-luxmark-result #content .field-name-field-result-scene-name .field-items,
.node-type-luxmark-result #content .field-name-field-result-score .field-items,
.node-type-luxmark-result #content .field-name-field-result-note .field-items,
.node-type-luxmark-result #content .field-name-field-result-dev-count .field-items
{
    font-size: 1.1em;
}
