/*
 * LuxMark web site CSS
 */

html {
	background: #333;
    font-size: 12px;
}

body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

a:link {
    color: #DD7F00;
    text-decoration: none;
}
a:visited {
    color: #DD7F00;
    text-decoration: none;
}
a:hover	{
    color: #D31141;
    text-decoration: underline;
}
a:active {
    color: #368AD2;
    text-decoration: none;
}

#page-title {
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    margin: 6px 0;
}

.fivestar-widget {
    white-space: nowrap;
}

/******************************************************************************/
/* Table                                                                      */
/******************************************************************************/

table {
    border-style: none;
    border-spacing: 2px;
    border-collapse: separate;
    margin: 0 auto;
}

table th {
    padding: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(204, 204, 204);
    margin: 1px;
    text-align: center;
    font-size: 1.1em;
}

table td {
    padding: 2px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    margin: 1px;
    text-align: center;
}

table .odd {
    background-color: rgb(80, 80, 80);
}

table .even {
    background-color: rgb(110, 110, 110);
}

table tbody tr:hover {
	background-color: rgb(40, 40, 40);
}

/******************************************************************************/

#header {
    color: #FFF;
    background: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0 0 0;
}

/******************************************************************************/

#navigation {
    color: #FFF;
    background: rgb(204, 204, 204);
    border-radius: 6px;
    padding: 6px;
    margin: 6px 0 0 0;
}

#navigation a {
    font-weight: bold;
}

#main-menu {
    line-height: 1em;
    padding: 0 0 6px 0;
    border-bottom: 2px solid rgb(238, 238, 238);
}

/******************************************************************************/

.breadcrumb {
    padding: 3px;
    border-radius: 6px;
    border: 1px solid rgb(204, 204, 204);
}

#content {
    color: #FFF;
    background-color: rgb(90, 90, 90);
    border-radius: 6px;
    margin: 12px 0 0 0;
    padding: 6px;
}

/******************************************************************************/
/* Second side bar                                                            */
/******************************************************************************/

.region-sidebar-second {
    margin: 12px 0 0 0;
    padding: 0 0 0 0;
}

#block-user-login,
#block-system-navigation,
.region-sidebar-second .block-menu-block,
.region-sidebar-second .block-views,
#block-views-result-count-block,
#block-views-devices-count-block,
#block-views-users-count-block
{
    color: #FFF;
    background-color: rgb(90, 90, 90);
    border-radius: 6px;
    padding: 0 6px 6px 6px;
    margin: 0 0 6px 6px;
}

#block-user-login h2,
#block-system-navigation h2,
.region-sidebar-second .block-menu-block h2,
.region-sidebar-second .block-views h2,
#block-views-result-count-block h2,
#block-views-devices-count-block h2,
#block-views-users-count-block h2
{
    text-align: center;
    font-size: 1.0em;
}

#block-user-login #user-login-form {
    background: rgb(204, 204, 204);
    padding: 6px;
}

#block-user-login #user-login-form .form-item-name {
    margin-top: 0;
}

.region-sidebar-second .block-menu-block .menu,
.region-sidebar-second .block-views .view,
#block-system-navigation .menu
{
    color: #DD7F00;
    background: rgb(204, 204, 204);
    margin-top: 0;
    margin-bottom: 0;
}

.region-sidebar-second .block-views .view table {
    width: 100%;
}

.region-sidebar-second .block-views .view table th {
    font-size: 1.0em;
}

#block-views-devices-count-block .view,
#block-views-result-count-block .view,
#block-views-users-count-block .view
{
    color: #000;
    background: rgb(204, 204, 204);
    text-align: center;
    font-size: 3.5em;
    line-height: 1.5em;
}

/******************************************************************************/
/* Comments                                                                   */
/******************************************************************************/

#comments article {
    background-color: rgb(110, 110, 110);
    border-radius: 6px;
    padding: 6px;
    margin: 3px;
}

/******************************************************************************/
/* Front page
/******************************************************************************/

.front #main #content #block-nodeblock-27 h2 {
    font-style: italic;
}

.front #main #content #block-nodeblock-27 .luxmark_introduction_img {
    float: right;
    padding: 6px;
}

.front #main #content #block-nodeblock-27 .luxmark_introduction_img img {
    width: 320px;
    height: auto;
}
.front #main #content #block-nodeblock-27 .luxmark_introduction_txt p {
    text-align: justify;
    margin-top: 0;
    margin-bottom: 6px;
}

.front #main #content {
    padding: 6px;
}

.front #main #content .node-luxmark-result {
    background-color: rgb(110, 110, 110);
    border: 1px #FFF;
    border-style: solid;
    padding: 6px;
    margin: 3px 3px 3px 3px;
}

.front #main #content .node-luxmark-result .field-name-short-scene-name .field-label,
.front #main #content .node-luxmark-result .field-name-field-result-mode .field-label,
.front #main #content .node-luxmark-result .field-name-field-result-score .field-label
{
    text-align: right;
    width: 15em;
}

.front #main #content .node-luxmark-result .field-name-submitted-by {
    text-align: right;
}

.front #main #content .node-luxmark-result .links {
    display: block;
    text-align: right;
    margin: 0;
}

.front #main #content .node-luxmark-result .links li {
    margin: 0;
    padding: 0;
}

.front #main #content .node-luxmark-result .comment-add {
    display: none;
}

/******************************************************************************/
/* Result page
/******************************************************************************/

.node-type-luxmark-result #content #page-title {
    display: none;
}

.node-type-luxmark-result #content .field-name-result-id-link {
    margin-top: 12px;
}
.node-type-luxmark-result #content .field-name-field-result-dev-count {
    margin-bottom: 12px;
}

.node-type-luxmark-result #content .field-name-result-id-link .field-label,
.node-type-luxmark-result #content .field-name-author .field-label,
.node-type-luxmark-result #content .field-name-post-date .field-label,
.node-type-luxmark-result #content .field-name-field-result-os .field-label,
.node-type-luxmark-result #content .field-name-field-result-mode .field-label,
.node-type-luxmark-result #content .field-name-field-result-submode .field-label,
.node-type-luxmark-result #content .field-name-field-result-version .field-label,
.node-type-luxmark-result #content .field-name-short-scene-name .field-label,
.node-type-luxmark-result #content .field-name-field-result-score .field-label,
.node-type-luxmark-result #content .field-name-field-result-note .field-label,
.node-type-luxmark-result #content .field-name-field-result-dev-count .field-label
{
    text-align: right;
    width: 15em;
    font-size: 1.1em;
}

.node-type-luxmark-result #content .field-name-result-id-link .field-items,
.node-type-luxmark-result #content .field-name-author .field-items,
.node-type-luxmark-result #content .field-name-post-date .field-items,
.node-type-luxmark-result #content .field-name-field-result-os .field-items,
.node-type-luxmark-result #content .field-name-field-result-mode .field-items,
.node-type-luxmark-result #content .field-name-field-result-submode .field-items,
.node-type-luxmark-result #content .field-name-field-result-version .field-items,
.node-type-luxmark-result #content .field-name-short-scene-name .field-items,
.node-type-luxmark-result #content .field-name-field-result-score .field-items,
.node-type-luxmark-result #content .field-name-field-result-note .field-items,
.node-type-luxmark-result #content .field-name-field-result-dev-count .field-items
{
    font-size: 1.1em;
}

.node-type-luxmark-result #content .field-name-field-result-note .field-item {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}

.node-type-luxmark-result #content .links {
    margin: 0;
    padding: 12px;
    display: block;
}

.node-type-luxmark-result #content .links li {
    display: block;
    margin: 0;
}

.node-type-luxmark-result #content .links .comment-add,
.node-type-luxmark-result #content .links .sharethis-wrapper
{
    text-align: center;
    padding: 3px;
}

.node-type-luxmark-result #content .field-name-field-is-it-an-interesting-resul,
.node-type-luxmark-result #content .field-name-field-does-it-look-like-a-legit-
{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.node-type-luxmark-result #comments {
    background-color: rgb(80, 80, 80);
    border-radius: 6px;
    padding: 6px;
}

/******************************************************************************/
/* Search results page
/******************************************************************************/

.page-search-results form {
    background: rgb(204, 204, 204);
    padding: 6px;
    margin: 0;
}

.page-search-results form label {
    display: inline-block;
    text-align: right;
    width: 9em;
}

.page-search-results form .form-item {
    margin: 6px 0;
}

.page-search-results form #edit-submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
